tests/fixtures/schema/sample_schematron.xml

<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:h="http://hpxmlonline.com/2023/09">
  <sch:pattern>
    <sch:rule context="/h:HPXML/h:Building/h:BuildingDetails/h:Enclosure/h:Walls/h:Wall">
      <sch:assert role="ERROR" test="count(h:SystemIdentifier) = 1">Wall must have a SystemIdentifier.</sch:assert>
      <sch:assert role="ERROR" test="number(h:WallArea) &gt; 0">WallArea must be positive.</sch:assert>
    </sch:rule>
  </sch:pattern>
  <sch:pattern>
    <sch:rule context="/h:HPXML/h:Building/h:BuildingDetails/h:Enclosure/h:Windows/h:Window">
      <sch:assert role="WARN" test="number(h:SHGC) &gt; 0">SHGC should be positive.</sch:assert>
      <sch:report role="WARN" test="number(h:SHGC) &gt; 0.6">High SHGC; check daylighting assumptions.</sch:report>
    </sch:rule>
  </sch:pattern>
</sch:schema>
